<form action="/lost/<%= lostDeal.id %>?_method=PUT" method="POST">
    <div class="form-fields">
    <%- include('_form_fields_lost.ejs') %>
        <div class="btn-container">
            <div class="edit-and-remove-btns">
                <br>
                <button type="submit" class="submit">Update</button>
                <form method="POST" action="/<%= lostDeal.id %>?_method=DELETE">
                    <button type="submit" class="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</form>