<form action="/<%= closedDeal.id %>?_method=PUT" method="POST">
    <div class="form-fields"
    <%- include _form_fields %>
        <a href="/<%= closedDeal.id %>">Cancel</a>
        <button type="submit">Update</button>
    </div>
</form>