<form action="/lost/<%= lostDeal.id %>?_method=PUT" method="POST">
    <div class="form-fields">
    <%- include('_form_fields_lost.ejs') %>
        <button type="submit">Update</button>
    </div>
</form>