<div class="nav">
    <ul id="ul">
        <li id="li"><a href="/">Home</a></li>
        <li id="li">|</li>
        <li id="li"><a href="/profile">My Profile</a></li>
        <li id="li">|</li>
        <li id="li"><a href="/FY2020/qbr">FY20</a></li>
        <li id="li">|</li>
        <li id="li"><a href="/FY2021/qbr">FY21</a></li>
        <li id="li">|</li>
        <li id="li"><a href="/logout">Logout</a></li>
    </ul>
</div>
<div class="nav-container"></div>