<div class="metrics-container">
    <div class="metrics">
        <h1><strong>All-Time Metrics:</strong></h1>
        <br>
        <p><strong>Close Rate by deal:</strong> <%= closeRateByDeal %></p>
        <p><strong>Close Rate by ACV:</strong> <%= closeRateByACV %></p>
        <p><strong>Customer/New split by deal:</strong> <%= customerNewSplitByDeal %></p>
        <p><strong>Average sales cycle length:</strong> <%= averageSalesCycleLength %> days.</p>
    </div>
</div>
