<div class="metrics-container">
    <div class="metrics">
        <h1><strong>Annual Metrics:</strong></h1>
        <br>
        <p><strong>Close Rate by deal:</strong> <%= annualCloseRateByDeal %></p>
        <p><strong>Close Rate by ACV:</strong> <%= annualCloseRateByACV %></p>
        <p><strong>Customer/New split by deal:</strong> <%= annualCustomerNewSplitByDeal %></p>
        <p><strong>Average sales cycle length:</strong> <%= annualAverageSalesCycleLength %> days.</p>
    </div>
</div>