<div class="metrics-container">
    <div class="metrics">
        <h1><strong>Quarterly Metrics:</strong></h1>
        <br>
        <p><strong>Close Rate by deal:</strong> <%= quarterlyCloseRateByDeal %></p>
        <p><strong>Close Rate by ACV:</strong> <%= quarterlyCloseRateByACV %></p>
        <p><strong>Customer/New split by deal:</strong> <%= quarterlyCustomerNewSplitByDeal %></p>
        <p><strong>Average sales cycle length:</strong> <%= quarterlyAverageSalesCycleLength %> days.</p>
    </div>
</div>