<div class="chartTwo chart">
    <h3>New versus Existing ACV:</h3> 
    <canvas id="chartTwo"></canvas>
    <script>
    var ctx = document.getElementById('chartTwo').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['New', 'Existing'],
            datasets: [{
                label: 'New versus Existing',
                data: [<%- newBusinessACVTotal %>, <%- existingBusinessACVTotal %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: true
            }
        },
    });
    </script>
</div>