<%- include('partials/_head.ejs') %>
<body>
        <div class="container">

                <div>
                    <h1>QBR Generator</h1>
            
                    <div><p>Login or Register:</p></div>
            
                    <a href="/login" class="button">Login</a>
                    <a href="/signup" class="button">Signup</a>
                </div>
            
            </div>
</body>
</html>