<%- include('partials/_head.ejs') %>
<body>
        <div class="container">

                <div>
                    <h1>User Authentication</h1>
            
                    <p>Login or Register with:</p>
            
                    <a href="/login" class="btn btn-default">Login</a>
                    <a href="/signup" class="btn btn-default">Signup</a>
                </div>
            
            </div>
</body>
</html>