<%- include('partials/_head.ejs') %>
<body>
        <div class="container">
                
            <h1>Login</h1>
        
            <!-- Displays any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
        
            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
        
                <button type="submit">Login</button>
            </form>
        
            <hr>
        
            <p>Don't have an account? <a href="/signup">Sign up.</a></p>
            <p>Or go <a href="/">home</a>.</p>
        
        </div>
        
        </div>
</body>
</html>