body {
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding: 0 2rem;
    grid-template-areas: ". content content content content content content content content content content .";
}

.content {
    grid-area: content;
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
}

