.hero {
    height: 100vh;
    width: 100%;

    background-image: url(../images/hero.jpg);
    background-size: cover;

    overflow: hidden;

    visibility: visible;
}

h2 {
    margin: 0;
}

.hero-subtitle {
    text-align: center;

    color: white;
    font-size: 36px;

    margin-top: 25rem;
    margin-bottom: 0;
}

a:link {
    text-decoration: blue;
    color: #000280;
    cursor: pointer;
}

a:visited {
    text-decoration: blue;
    color: #000280;
    cursor: pointer;
}

button {
    outline: none;
    border: .25px dashed white;
}

.hero-button {
    height: 3rem;
    
    background-color: transparent;

    font-size: 26px;
}

.submit {
    border: solid 1px grey;
    margin-top: 1rem;
}

.deal-information-container {
    margin-top: 2.5rem auto 2.5rem auto;
}

._form_fields {
    padding: 2rem;
    border: 1px solid #3881ff;
    border-radius: 5px;
}

.won-deals {
    padding: 2rem;
    border: 1px solid #3881ff;
    border-radius: 5px;
}

.lost-deals {
    padding: 2rem;
    border: 1px solid #3881ff;
    border-radius: 5px;
}

.metrics {
    padding: 2rem;
    border: 1px solid #3881ff;
    border-radius: 5px;
}