input {
    margin: .5rem;
    border-radius: 5px;
    border: solid .5px grey;
    outline: none;
    height: 1.5rem;

    padding-left: .5rem;
    padding-right: .5rem;

    transition: padding-left .25s, padding-right .25s
}

input:focus {
    padding-left: .75rem;
    padding-right: .75rem;
}

select {
    margin: .5rem;
    border-radius: 5px;
    border: solid .5px grey;
    outline: none;
    height: 1.5rem;

    padding-left: .5rem;
    padding-right: .5rem;

    transition: padding-left .25s, padding-right .25s
}

select:focus {
    padding-left: .75rem;
    padding-right: .75rem;
}

._form_fields {
    margin: 3rem 0 3rem 0;
}
